In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from xgboost import XGBRegressor
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [3]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [4]:
df.shape

(17000, 9)

In [5]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [6]:
X = df.drop(columns="median_house_value",axis=1)
Y = df["median_house_value"]

In [7]:
print(X)
print(Y)

       longitude  latitude  ...  households  median_income
0        -114.31     34.19  ...       472.0         1.4936
1        -114.47     34.40  ...       463.0         1.8200
2        -114.56     33.69  ...       117.0         1.6509
3        -114.57     33.64  ...       226.0         3.1917
4        -114.57     33.57  ...       262.0         1.9250
...          ...       ...  ...         ...            ...
16995    -124.26     40.58  ...       369.0         2.3571
16996    -124.27     40.69  ...       465.0         2.5179
16997    -124.30     41.84  ...       456.0         3.0313
16998    -124.30     41.80  ...       478.0         1.9797
16999    -124.35     40.54  ...       270.0         3.0147

[17000 rows x 8 columns]
0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

In [47]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.2, random_state=2)

In [48]:
print(X.shape,x_train.shape,x_test.shape)

(17000, 8) (13600, 8) (3400, 8)

In [49]:
model = XGBRegressor()

In [50]:
model.fit(x_train,y_train)

[13:11:50] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor()

In [51]:
x_test_prediction=model.predict(x_test)

In [52]:
accuracy_r2_score=r2_score(y_test,x_test_prediction)
print(accuracy_r2_score)

0.7817895294163641

In [53]:
mae=mean_absolute_error(y_test,x_test_prediction)
print(mae)

37934.18450712316

In [32]:
df.std()

longitude                  2.005166
latitude                   2.137340
housing_median_age        12.586937
total_rooms             2179.947071
total_bedrooms           421.499452
population              1147.852959
households               384.520841
median_income              1.908157
median_house_value    115983.764387
dtype: float64

In [33]:
X.std()

longitude                2.005166
latitude                 2.137340
housing_median_age      12.586937
total_rooms           2179.947071
total_bedrooms         421.499452
population            1147.852959
households             384.520841
median_income            1.908157
dtype: float64

In [19]:
Y.std()

115983.76438720913

In [44]:
sclar = StandardScaler()

In [45]:
sclar.fit(X)

StandardScaler()

In [46]:
X = sclar.transform(X)

In [23]:
standardized_X.std()

1.0